@using Estetika.Models.Entities; @model IEnumerable<Tip_Tovar>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />

<h3>Тип товара</h3>


<table class="table table-striped">
    <tr>
        <th class="tdbackground">
            Тип товара
        </th>
        <th class="tdbackground"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imya_Tip_Tovar)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Tip_Tovar }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Tip_Tovar })
        </td>
    </tr>
}

</table>
<button class=" btn btn-default stylebuttonfortableadd ">


    @Html.ActionLink("Добавить тип товара", "Create", new { @class = "fontcolor " })

</button>