@model IEnumerable<Estetika.Vopros>

@{
    ViewBag.Title = "Index";
}
<br />
<br />

<h3>Тест для подбора средств по уходу за волосами</h3>
<br />


@using (Html.BeginForm("SendResults", "Vopros"))
{
    <ul style=" list-style-type: none;">

        @foreach (var item in Model)
        {
            <li style=" list-style-type: none; e">@item.Zagolovok</li>
            <li style=" list-style-type: none;">
                <ol style=" list-style-type: none; e">
                    @foreach (var option in item.Variant)
                    {
                        <li>@Html.RadioButton(option.Vopros.Zagolovok, option.Tekst) @option.Tekst </li>
                    }
                </ol>
            </li>
        }
    </ul>
    <input style="margin-left:40px;" type="submit" value="Отправить" class="btn btn-default" />

}
