@using Estetika.Models.Entities; @model Tip_Master

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы точно хотите удалить тип мастера?</h3>
<div>
 
    <hr />
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index", "", htmlAttributes: (new { @class = "btn btn-default" }))
        </div>
    }
</div>
