@using Estetika.Models.Entities; @model IEnumerable<Tip_Master>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<h3>Добавить тип мастера</h3>
<table class="table table-striped">
    <tr>
        <th  class="tdbackground">
            Тип мастера
        </th>
        <th class="tdbackground"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imya_Tip_Master)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Tip_Master }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Tip_Master })
        </td>
    </tr>
}

</table>
<button class=" btn btn-default stylebuttonfortableadd ">

    @Html.ActionLink("Добавить тип мастера  ", "Create", new { @class = "fontcolor " })


</button>