@using Estetika.Models.Entities; @model Tovar

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />

<h3>Вы хотите удалить товар?</h3>
<div>

    <hr />
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index", "", htmlAttributes: (new { @class = "btn btn-default" }))
        </div>
    }
</div>
