@using Estetika.Models.Entities; @model IEnumerable<Tip_Polzovatel>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />

<h2>Тип пользователя</h2>


<table class="table table-striped">
    <tr>
        <th class="tdbackground">
            Тип пользователя
        </th>
        <th class="tdbackground"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imya_Tip_Polzovatel)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID_Tip_Polzovatel }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Tip_Polzovatel })
        </td>
    </tr>
}

</table>
<button class=" btn btn-default stylebuttonfortableadd ">

    
    @Html.ActionLink("Добавить тип пользователя", "Create", new { @class = "fontcolor " })

</button>